---
- name: add ceph user
  user:
    name: ceph
    shell: /bin/bash
    password: "pass123"
    group: sudo

- name: check that needed packages exist inside the containers
  apt:
    name: '{{ item }}'
    state: present
  with_items:
  - ntp
  - python
  - openssh-server

- name: create /etc/sudoers.d/ceph
  copy:
    content: ""
    dest: /etc/sudoers.d/ceph
    force: no
    
- name: add ceph user to sudoers
  lineinfile:
    dest: /etc/sudoers.d/ceph
    line: "ceph ALL = (root) NOPASSWD:ALL"

- name: change permissions on ceph disk
  shell: chmod 777 /mnt/xfsdisk

- name: change permissions of sudoers ceph file
  shell: chmod 0440 /etc/sudoers.d/ceph

- name: ensure that bash is the default shell
  shell: chsh ceph -s /bin/bash


